<div class="container">
  <div class="row">
    <div class="col">
      <h2></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
    <div class="col">
      <table>
        <tr>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>¥<%= (@item.price*1.1).floor %>(税込)</td>
        </tr>
      </table>

      <div class="mb-8">
        <% if @item.is_active == true %>
          <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
           <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.label :quantity, "個数" %>
            <%= f.select :quantity, *[1..50]  %>
          <%= f.submit "カートに入れる", class:"btn btn-green" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
